/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Components CSS Imports */
@import url(./dot_pattern.css);
@import url(./button.css);
@import url(./popup.css);
@import url(./navbar.css);
@import url(./home.css);
@import url(./usecase.css);
@import url(./integrations.css);
@import url(./whysection.css);
@import url(./blogref.css);
@import url(./viewblog.css);
@import url(./pricing.css);
@import url(./testimonials.css);
@import url(./faq.css);
@import url(./earlybirdform.css);
@import url(./footer_banner.css);
@import url(./footer.css);
@import url(./input.css);
@import url(./toaster.css);
@import url(./terms.css);
@import url(./loading.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  /* Widths */
  --navbar-height: 60px;
  --max-width: 1200px;
  --content-padding: 0 16px;

  --width-xxs: 50px;
  --width-xs: 100px;
  --width-sm: 200px;
  --width-md: 240px;
  --width-lg: 300px;
  --width-xl: 400px;
  --width-xl2: 500px;
  --width-half: 48%;
  --width-max: 100%;

  /* Font*/

  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 28px;
  --font-size-xl: 32px;
  --font-size-xl2: 38px;
  --font-size-xl3: 48px;
  --font-size-xl4: 60px;

  --font-weight-xs: 300;
  --font-weight-sm: 400;
  --font-weight-md: 500;
  --font-weight-lg: 600;
  --font-weight-xl: 700;

  --line-height-xs: 1.33334;
  --line-height-sm: 1.42858;
  --line-height-md: 1.5;
  --line-height-lg: 1.55556;
  --line-height-xl: 1.66667;

  /* Border Radius */
  --border-radius-xs: 2px;
  --border-radius-sm: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;

  /* Shadows */

  --shadow-sm: 0 0 #000, 0px 1px 2px 0px rgba(21 21 21 / 0.08);
  --shadow-lg: rgba(0, 0, 0, 0.12) 0px 8px 24px 0px;

  /* Popup */
  --popup-width-xl: 80%;
  --popup-width-lg: 800px;
  --popup-width-md: 500px;
  --popup-width-sm: 350px;

  --popup-height-xl: 80%;
  --popup-height-lg: 500px;
  --popup-height-md: 400px;
  --popup-height-sm: 250px;

  /* Colors */

  --blocking-color: rgba(6, 4, 4, 0.4);

  --primary-color: #4137FE;
  --primary-dark-color: #0800a7;
  --primary-trans-color: #4137fe39;

  --border-color-light: #f2f3f3;
  --border-color-100: #cdd7e1;

  --font-primary-color: var(--primary-color);
  --font-light-color: #fff;
  --font-dark-color: #303030;
  --font-black-color: #171a1c;
  --font-gray-color: #555e68;

  --button-primary: var(var(--primary-color));
  --button-default: #f0f4f8;

  --hover-color: #0000000a;
  --hover-pri_btn-color: #185ea5;
  --hover-sec_btn-color: #c7dff7;
  --hover-gray-color: #dde7ee;

  --bg-color: #fff;
  --bg-dark-color: #1f2223;
  --bg-mid-dark-color: #1f2223;
  --bg-gray-color: #f0f4f8;
  --bg-mid_gray-color: #dde7ee;

  --active-color: #2166de;
  --danger-color: #f44336;
  --warning-color: #f29d41;
  --success-color: #07c07e;

  --transparent-active-color: rgb(40, 85, 255, 0.1);
  --transparent-danger-color: rgb(244, 67, 54, 0.1);
  --transparent-warning-color: rgb(242, 157, 65, 0.1);
  --transparent-success-color: rgba(7, 192, 126, 0.1);
}



.elem-width-auto {
  width: max-content;
}

.elem-width-xxs {
  width: var(--width-xxs);
}

.elem-width-xs {
  width: var(--width-xs);
}

.elem-width-sm {
  width: var(--width-sm);
}

.elem-width-md {
  width: var(--width-md);
}

.elem-width-lg {
  width: var(--width-lg);
}

.elem-width-xl {
  width: var(--width-xl);
}

.elem-width-xl2 {
  width: var(--width-xl2);
}

.elem-width-half {
  width: var(--width-half);
}

.elem-width-max {
  width: var(--width-max);
}

.font-weight-xs {
  font-weight: var(--font-weight-xs) !important;
}

.font-weight-sm {
  font-weight: var(--font-weight-sm) !important;
}

.font-weight-md {
  font-weight: var(--font-weight-md) !important;
}

.font-weight-lg {
  font-weight: var(--font-weight-lg) !important;
}

.font-weight-xl {
  font-weight: var(--font-weight-xl) !important;
}


.danger-color {
  color: var(--danger-color) !important;
}

.success-color {
  color: var(--success-color) !important;
}

.active-color {
  color: var(--active-color) !important;
}

.warning-color {
  color: var(--warning-color) !important;
}

.gradient-green-color {
  background-image: var(--gradient-green);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.gradient-blue-color {
  background-image: var(--gradient-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.gradient-purple-color {
  background-image: var(--gradient-purple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.gradient-yellow-color {
  background-image: var(--gradient-yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}


/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.3) transparent;
}

/* For Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7);
}


a {
  text-decoration: none;
  color: #000;
  transition: all 0.25s ease;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}


.main-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  position: relative;

  overflow-y: auto;
  overflow-x: hidden;
}

.main-container .main-container-content {
  width: 100%;
  height: max-content;
  /* padding: var(--content-padding); */
  margin-top: var(--navbar-height);

  display: flex;
  flex-direction: column;

  position: relative;

}


@media only screen and (max-width: 850px) {
  :root {
    --popup-width-lg: 95% !important;

    --width-sm: 48%;
    --width-md: 48%;
    --width-lg: 48%;
    --width-xl: 48%;
    --width-xl2: 48%;
    --width-half: 100%;

    --font-size-xl: 1rem;
    --font-size-xl4: 1.8rem;
  }
}

@media only screen and (max-width: 600px) {
  :root {

    --width-md: 100%;
    --width-lg: 100%;
    --width-xl: 100%;
    --width-half: 100%;

    --popup-width-xl: 95% !important;
    --popup-width-lg: 95% !important;
    --popup-width-md: 95% !important;
    --popup-width-sm: 95% !important;

    --popup-width-xl: 95% !important;
    --popup-width-lg: 95% !important;

  }
}


@media only screen and (max-width: 900px) {}

.animation-appear {
  /* animation: appear 0.25s linear both; */
}

.animation-appear-container {
  /* animation: appear linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%; */
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0%);
  }
}