.inputs-wrapper-main {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.input-main {
  width: var(--width-md);
  position: relative;
}

.input-main .input-style-primary {}

.input-main .text-input-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-main .input-label-main {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.input-main .input-label-main .label-txt {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-md);
  line-height: var(--line-height-sm);
  color: var(--font-dark-color);
}

.input-main .input-label-main .label-icon {
  width: 18px;
  height: 18px;
}

.input-main .input-label-main .label-icon svg {
  width: 100%;
  height: 100%;
}

.input-main .input-label-main .input-info_tooltip-main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.input-main .input-label-main .input-info_tooltip-main .info_tooltip-icon {
  width: 16px;
  height: 16px;
}

.input-main .input-label-main .input-info_tooltip-main .info_tooltip-icon svg {
  width: 100%;
  height: 100%;

  fill: var(--font-gray-color);
}

.input-main .input-label-main .input-info_tooltip-main .info_tooltip-label {
  position: absolute;
  top: -6px;
  right: 30px;
  z-index: 1;

  display: none;

  background: var(--bg-dark-color);

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  line-height: var(--line-height-xs);

  color: var(--font-light-color);

  white-space: nowrap;

  padding: 5px;
  border-radius: 10px;
}

.input-main .input-label-main .input-info_tooltip-main:hover .info_tooltip-label {
  display: flex;
}

.input-main .input-label-main .input-info_tooltip-main .info_tooltip-label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 98%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent var(--bg-dark-color);
}

.input-main .input-input-main {
  position: relative;
  width: 100%;
  height: 100%;
}

.input-main .input-required .input-label-main .label-txt::after {
  content: "*";
  margin-left: 3px;
  color: var(--danger-color);
}

.input-main .input-invalid input {
  border-color: var(--danger-color);
  color: var(--danger-color);
  outline-color: var(--danger-color);
}

.input-main .input-input-main .input-invalid-label {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-md);
  line-height: var(--line-height-md);

  color: var(--danger-color);
}

.input-main .input-invalid .input-invalid-label {
  display: flex;
}

.input-main .input-icon {
  width: 18px;
  height: 18px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.input-main .input-icon svg {
  width: 100%;
  height: 100%;
}

/* Select Input */
.input-main .select-input-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-main .select-input-main .input-dropdown-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 2;
  width: 24px;
  height: 24px;
  background: var(--bg-color);
}

.input-main .select-input-main .input-dropdown-icon svg {
  width: inherit;
  height: inherit;
}

.input-main .select-input-main .input-dropdown-main {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 90;

  width: 100%;
  max-height: 200px;
  height: max-content;
  overflow-y: auto;
  overflow-x: hidden;

  display: none;
  background: var(--bg-color);
  border: 1px solid var(--border-color-100);
  border-radius: 6px;
  box-shadow: 0px 2px 8px -2px rgba(21 21 21 / 0.08);

  padding: 5px;

  transition: all 0.25s;
}

.input-main .select-input-main .input-dropdown-active {
  display: flex;
}

.input-main .select-input-main .input-dropdown-main .dropdown-items {
  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-main .select-input-main .input-dropdown-main .dropdown-item {
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 0 10px;

  cursor: pointer;
  transition: all 0.25s;

  font-size: var(--font-size-sm);
  border-radius: 6px;

  user-select: none;
}

.input-main .select-input-main .input-dropdown-main .dropdown-item:hover {
  background: var(--hover-color);
}

.input-main .select-input-main .input-dropdown-main .dropdown-item-disabled {
  color: var(--font-gray-color);
  cursor: not-allowed;
}

.input-main .select-input-main .input-dropdown-main .dropdown-item-disabled:hover {
  background: transparent !important;
}

.input-main .textarea-input-main {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Textare */
.input-main textarea {
  width: 100%;
  height: 100%;

  resize: none;

  background: var(--bg-color);

  border-radius: var(--border-radius-sm);
  border: 0.5px solid var(--border-color-100);
  box-shadow: var(--shadow-sm);
  transition: all 0.25s ease;
  padding: 0.5rem;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  outline: none;
}

.select-input-option-main {
  display: flex;
  align-items: center;
  gap: 8px;
}

.select-input-option-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .inputs-wrapper-main {
    gap: 8px;
  }
}