.button {
  width: 100%;
  min-height: 2.25rem;
  border-radius: var(--border-radius-sm);

  background: var(--bg-gray-color);
  outline: none;
  border: 1px solid var(--border-color-100);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  cursor: pointer;

  transition: all 0.25s ease-in-out;
}

.button:hover {
  background: var(--hover-gray-color);
}

.button .button-icon {
  width: 16px;
  height: 16px;
}

.button .button-icon svg {
  width: inherit;
  height: inherit;
}

.button .button-label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-lg);
  line-height: var(--line-height-md);

  color: var(--font-dark-color);
}

/* Primary button */
.button-primary {
  background: var(--primary-color);
  outline: none;
  border: none;
}

.button-primary:hover {
  background: var(--hover-pri_btn-color);
}

.button-primary .button-icon {
  width: 16px;
  height: 16px;
}

.button-primary .button-icon svg {
  fill: #fff;
}

.button-primary .button-label {
  color: var(--font-light-color);
}

/* End Primary button */

/* Primary Outline button */

.button-primary_outline {
  outline: none;
  border: 1px solid var(--primary-color);
  background: var(--bg-color);
}

.button-primary_outline .button-icon {
  width: 16px;
  height: 16px;
}

.button-primary_outline .button-icon svg {
  fill: var(--primary-color);
}

.button-primary_outline .button-label {
  color: var(--primary-color);
}

.button-primary_outline:hover {
  background: var(--primary-trans-color);
}


/* End Primary button */

.button-disable {
  opacity: 0.5;
  cursor: not-allowed;
}